@font-face {
	font-family: 'iconfont';
	font-display: auto;
	src: url('//at.alicdn.com/t/c/font_1636368_y76ul94wfq.woff2?t=1753631340700') format('woff2'),
		url('//at.alicdn.com/t/c/font_1636368_y76ul94wfq.woff?t=1753631340700') format('woff'),
		url('//at.alicdn.com/t/c/font_1636368_y76ul94wfq.ttf?t=1753631340700') format('truetype');
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
	font-family: 'iconfont' !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: '\e7ab';
}

.icon-twitter:before {
	content: '\ecc1';
}

.icon-other:before {
	content: '\e631';
}

.icon-email:before {
	content: '\e62d';
}

.icon-bokeyuan:before {
	content: '\e603';
}

.icon-xiaolian:before {
	content: '\e650';
}

/* wechat */
.icon-wechat:before {
	content: '\f23b';
}

.icon-zhifeiji:before {
	content: '\e60a';
}

.icon-projects:before {
	content: '\e625';
}

.icon-linkedin:before {
	font-family: 'Font Awesome 6 Brands' !important;
	content: '\f0e1';
}
